/Aula02/nbproject/private/
/Aula02/build/
/Aula03/nbproject/private/
/aula3_exercicio/nbproject/private/
/Aula03/build/
/aula3_exercicio/build/
/aula03_exercicio2/nbproject/private/
/aula03_exercicio2/build/
/Aula3_exercicio3/nbproject/private/
/Aula3_exercicio3/build/
/aula4/nbproject/private/
/aula4/build/
/aula03_exercicio_Temperatura/nbproject/private/
/aula03_exercicio_Temperatura/build/
/aula03_exercicio4/nbproject/private/
/aula03_exercicio4/build/
