<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <p>Iniciando estudos com Node.js...</p>

    <!--  IMPORTANDO A IMAGEM DA PASTA "PUBLIC" -->
      <img src="/images/teste.jpg" alt="NODE JS">
<%- include ('partials/footer.ejs') %>